*{
	margin: 0;
	padding: 0;
}




@media(max-width: 320.97px){
	body{
		background: rgb(8,7,8);
		background: linear-gradient(0deg, rgba(8,7,8,1) 3%, rgba(0,0,0,1) 87%);
		color:floralwhite;
		font-family:Trebuchet MS ;
		font-weight: 900;
		text-shadow:
	      
	     
	      0 0 99px gray,
	      0 0 102px #ffffff,
	      0 0 122px #ffffff,
	      0 0 150px #ffffff;

	      overflow-x:hidden;
	      
	      
		
		
	}

	header{
		position: relative;
		left:-1em;
		min-width: 320px;
		max-height: 3em;
	}

	li{
		list-style: none;
	}



	#head-line{
		font-size: 1.2em;
	}

	#img-logo{
		max-height: 3em;

	}

	#carousel{
		box-shadow: 1px 5px yellowgreen;
	}

	#area-btn-whatsapp{
		box-shadow: 1px 5px yellowgreen;
	}

	.icone-whatsapp{
		font-size:2.5em ;
		animation: blink 5s 5s infinite;
	}

	@keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
    }

	#btn-falar-whatsapp{
		text-decoration: none;
		color:white;
		white-space: nowrap;
		font-size:0.9em;
		font-weight:bold;
		text-shadow: 1px 1px black;
		animation: blink 5s 5s infinite;
		
	}

	.neon-texto{
		text-shadow:
	      
	      0 0 41px #fff,
	      0 0 62px #0fa,
	      0 0 82px #0fa,
	      0 0 92px #0fa,
	      0 0 102px #0fa,
	      0 0 151px #0fa,
	      0 0 181px green;
		}

	#video{
		max-width: 320px;
		border:1px solid white;

	}

	video{
		max-height: 320px;
		min-width: 100%;
		
		
		border:1px solid black;
		border-radius:1%;
	}

	#lista-beneficios{
		box-shadow: 1px 5px yellowgreen;
	}

	.item-lista-beneficios{
		padding: 0.5em;
	}
}


@media (min-width:  321.00px) and (max-width:360.98px) {
	body{
		background: rgb(8,7,8);
		background: linear-gradient(0deg, rgba(8,7,8,1) 3%, rgba(0,0,0,1) 87%);
		color:floralwhite;
		font-family:Trebuchet MS ;
		font-weight: 900;
		text-shadow:
	      
	     
	      0 0 99px gray,
	      0 0 102px #ffffff,
	      0 0 122px #ffffff,
	      0 0 150px #ffffff;

	      overflow-x:hidden;
	      
	      
		
		
	}

	header{
		position: relative;
		left:-1em;
		min-width: 361px;
		max-height: 3em;
	}

	li{
		list-style: none;
	}



	#head-line{
		font-size: 1.2em;
	}

	#img-logo{
		max-height: 3em;

	}

	#carousel{
		box-shadow: 1px 5px yellowgreen;
	}

	#area-btn-whatsapp{
		box-shadow: 1px 5px yellowgreen;
	}

	.icone-whatsapp{
		font-size:2.5em ;
		animation: blink 5s 5s infinite;
	}

	@keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
    }

	#btn-falar-whatsapp{
		text-decoration: none;
		color:white;
		white-space: nowrap;
		font-size:1em;
		font-weight:bold;
		text-shadow: 1px 1px black;
		animation: blink 5s 5s infinite;
		
	}

	.neon-texto{
		text-shadow:
	      
	      0 0 41px #fff,
	      0 0 62px #0fa,
	      0 0 82px #0fa,
	      0 0 92px #0fa,
	      0 0 102px #0fa,
	      0 0 151px #0fa,
	      0 0 181px green;
		}

	#video{
		max-width: 320px;
		border:1px solid white;

	}

	video{
		max-height: 320px;
		min-width: 100%;
		
		
		border:1px solid black;
		border-radius:1%;
	}

	#lista-beneficios{
		box-shadow: 1px 5px yellowgreen;

	}

	.item-lista-beneficios{
		padding: 0.5em;
		font-size: 1.5em;
		font-weight: 800;
	}
}

@media (min-width: 361px) and (max-width:  375.98px){
	body{
		background: rgb(8,7,8);
		background: linear-gradient(0deg, rgba(8,7,8,1) 3%, rgba(0,0,0,1) 87%);
		color:floralwhite;
		font-family:Trebuchet MS ;
		font-weight: 900;
		text-shadow:
	      
	     
	      0 0 99px gray,
	      0 0 102px #ffffff,
	      0 0 122px #ffffff,
	      0 0 150px #ffffff;

	      overflow-x:hidden;
	      
	      
		
		
	}

	header{
		position: relative;
		left:-1em;
		min-width: 376px;
		max-height: 3em;
	}

	li{
		list-style: none;
	}



	#head-line{
		font-size: 1.2em;
	}

	#img-logo{
		max-height: 3em;

	}

	#carousel{
		box-shadow: 1px 5px yellowgreen;
	}

	#area-btn-whatsapp{
		box-shadow: 1px 5px yellowgreen;
	}

	.icone-whatsapp{
		font-size:2.5em ;
		animation: blink 5s 5s infinite;
	}

	@keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
    }

	#btn-falar-whatsapp{
		text-decoration: none;
		color:white;
		white-space: nowrap;
		font-size:1em;
		font-weight:bold;
		text-shadow: 1px 1px black;
		animation: blink 5s 5s infinite;
		
	}

	.neon-texto{
		text-shadow:
	      
	      0 0 41px #fff,
	      0 0 62px #0fa,
	      0 0 82px #0fa,
	      0 0 92px #0fa,
	      0 0 102px #0fa,
	      0 0 151px #0fa,
	      0 0 181px green;
		}

	#video{
		max-width: 360px;
		border:1px solid white;

	}

	video{
		max-height: 320px;
		min-width: 100%;
		
		
		border:1px solid black;
		border-radius:1%;
	}

	#lista-beneficios{
		box-shadow: 1px 5px yellowgreen;

	}

	.item-lista-beneficios{
		padding: 0.5em;
		font-size: 1.5em;
		font-weight: 800;
	}
}

@media (min-width: 376px) and (max-width:  411.98px) {
	body{
		background: rgb(8,7,8);
		background: linear-gradient(0deg, rgba(8,7,8,1) 3%, rgba(0,0,0,1) 87%);
		color:floralwhite;
		font-family:Trebuchet MS ;
		font-weight: 900;
		text-shadow:
	      
	     
	      0 0 99px gray,
	      0 0 102px #ffffff,
	      0 0 122px #ffffff,
	      0 0 150px #ffffff;

	      overflow-x:hidden;
	      
	      
		
		
	}

	header{
		position: relative;
		left:-1em;
		min-width: 412px;
		max-height: 3em;
	}

	li{
		list-style: none;
	}



	#head-line{
		font-size: 1.2em;
	}

	#img-logo{
		max-height: 3em;

	}

	#carousel{
		box-shadow: 1px 5px yellowgreen;
	}

	#area-btn-whatsapp{
		box-shadow: 1px 5px yellowgreen;
	}

	.icone-whatsapp{
		font-size:2.5em ;
		animation: blink 5s 5s infinite;
	}

	@keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
    }

	#btn-falar-whatsapp{
		text-decoration: none;
		color:white;
		white-space: nowrap;
		font-size:1.2em;
		font-weight:bold;
		text-shadow: 1px 1px black;
		animation: blink 5s 5s infinite;
		
	}

	.neon-texto{
		text-shadow:
	      
	      0 0 41px #fff,
	      0 0 62px #0fa,
	      0 0 82px #0fa,
	      0 0 92px #0fa,
	      0 0 102px #0fa,
	      0 0 151px #0fa,
	      0 0 181px green;
		}

	#video{
		max-width: 412px;
		border:1px solid white;

	}



	video{
		max-height: 320px;
		min-width: 100%;

		
		
		border:1px solid black;
		border-radius:1%;
	}

	#lista-beneficios{
		box-shadow: 1px 5px yellowgreen;

	}

	.item-lista-beneficios{
		padding: 0.5em;
		font-size: 1.5em;
		font-weight: 800;
	}
}

@media (min-width: 412px) and (max-width:  428.98px) {
	body{
		background: rgb(8,7,8);
		background: linear-gradient(0deg, rgba(8,7,8,1) 3%, rgba(0,0,0,1) 87%);
		color:floralwhite;
		font-family:Trebuchet MS ;
		font-weight: 900;
		text-shadow:
	      
	     
	      0 0 99px gray,
	      0 0 102px #ffffff,
	      0 0 122px #ffffff,
	      0 0 150px #ffffff;

	      overflow-x:hidden;
	      
	      
		
		
	}

	header{
		position: relative;
		left:-1em;
		min-width: 412px;
		max-height: 3em;
	}

	li{
		list-style: none;
	}



	#head-line{
		font-size: 1.2em;
	}

	#img-logo{
		max-height: 3em;

	}

	#carousel{
		box-shadow: 1px 5px yellowgreen;
	}

	#area-btn-whatsapp{
		box-shadow: 1px 5px yellowgreen;
	}

	.icone-whatsapp{
		font-size:2.5em ;
		animation: blink 5s 5s infinite;
	}

	@keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
    }

	#btn-falar-whatsapp{
		text-decoration: none;
		color:white;
		white-space: nowrap;
		font-size:1.2em;
		font-weight:bold;
		text-shadow: 1px 1px black;
		animation: blink 5s 5s infinite;
		
	}

	.neon-texto{
		text-shadow:
	      
	      0 0 41px #fff,
	      0 0 62px #0fa,
	      0 0 82px #0fa,
	      0 0 92px #0fa,
	      0 0 102px #0fa,
	      0 0 151px #0fa,
	      0 0 181px green;
		}

	#video{
		max-width: 412px;
		border:1px solid white;

	}



	video{
		max-height: 320px;
		min-width: 100%;

		
		
		border:1px solid black;
		border-radius:1%;
	}

	#lista-beneficios{
		box-shadow: 1px 5px yellowgreen;

	}

	.item-lista-beneficios{
		padding: 0.5em;
		font-size: 1.5em;
		font-weight: 800;
	}
}

@media (min-width: 429.00px) and (max-width:  768.98px) {
	body{
		background: rgb(8,7,8);
		background: linear-gradient(0deg, rgba(8,7,8,1) 3%, rgba(0,0,0,1) 87%);
		color:floralwhite;
		font-family:Trebuchet MS ;
		font-weight: 900;
		text-shadow:
	      
	     
	      0 0 99px gray,
	      0 0 102px #ffffff,
	      0 0 122px #ffffff,
	      0 0 150px #ffffff;

	      overflow-x:hidden;
	      
	      
		
		
	}

	header{
		position: relative;
		left:-1em;
		min-width: 412px;
		max-height: 3em;
	}

	li{
		list-style: none;
	}



	#head-line{
		font-size: 1.2em;
	}

	#img-logo{
		max-height: 3em;

	}

	#carousel{
		box-shadow: 1px 5px yellowgreen;
	}

	#area-btn-whatsapp{
		box-shadow: 1px 5px yellowgreen;
	}

	.icone-whatsapp{
		font-size:2.5em ;
		animation: blink 5s 5s infinite;
	}

	@keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
    }

	#btn-falar-whatsapp{
		text-decoration: none;
		color:white;
		white-space: nowrap;
		font-size:1.2em;
		font-weight:bold;
		text-shadow: 1px 1px black;
		animation: blink 5s 5s infinite;
		
	}

	.neon-texto{
		text-shadow:
	      
	      0 0 41px #fff,
	      0 0 62px #0fa,
	      0 0 82px #0fa,
	      0 0 92px #0fa,
	      0 0 102px #0fa,
	      0 0 151px #0fa,
	      0 0 181px green;
		}

	#video{
		max-width: 412px;
		border:1px solid white;

	}



	video{
		max-height: 320px;
		min-width: 100%;

		
		
		border:1px solid black;
		border-radius:1%;
	}

	#lista-beneficios{
		box-shadow: 1px 5px yellowgreen;

	}

	.item-lista-beneficios{
		padding: 0.5em;
		font-size: 1.5em;
		font-weight: 800;
	}
}

